In [4]:
import pandas as pd

In [2]:
path='./diabetes.csv'

In [5]:
df=pd.read_csv(path)

In [6]:
df.head()

#It Shows How It Is Our Data
#By Showing Our data Our target Value Is Categorical So,We Can Say That It Is a Classification  Problem Or Prediction Problem
#We Have To Classify Or Predict Diabetes Or Not

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.shape

#It Shows The Size(Rows And Columns) Of Our DataFrame

(768, 9)

<H2> For Applying Classification Or Regresion Algorithm We First Preprocessing The Given data</H2>

In [8]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

<h3> Here all Columns Are Necessary For Prediction And Outcome Is Our Target value</h3>
<h4>First We Remove unnecessary Columns If Needed</h4>
<h4>Second We Handle Missing Or NaN Values In Our dataframe</h4>

In [11]:
df.isnull().sum()

#There is No NaN Or Missing Values In Our DataFrame

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

<h3>Describe Function Shows Statistical Information About Our DataFrame</h3>
<h3>Here We Can See Min/Max Of Every Columns</h3>
<h3>Also Here We Can See Standard Deviation Which Show How Data Is Spread Out,By Seeing std we can think If there are outliers or not.<h3>
<h3>Insulin Have Very High Standard Deviation So We can Say In This Columns have outliers So We Have to handle It</h3>

In [14]:
df1=df.copy()
df1.head()

#For Preprocessing Purpose We Create Copy Of Our Dataframe

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [19]:
(df1==0).sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

<h3>We Can See There Are Lots Of Zeros In Our dataframe So We Have To Handle It

In [28]:
zeros_col=df1[['Glucose','BloodPressure','BloodPressure','Insulin','BMI','SkinThickness']]
zeros_col

     Glucose  BloodPressure  BloodPressure     Insulin   BMI  SkinThickness
0      148.0           72.0           72.0   79.799479  33.6             35
1       85.0           66.0           66.0   79.799479  26.6             29
2      183.0           64.0           64.0   79.799479  23.3              0
3       89.0           66.0           66.0   94.000000  28.1             23
4      137.0           40.0           40.0  168.000000  43.1             35
..       ...            ...            ...         ...   ...            ...
763    101.0           76.0           76.0  180.000000  32.9             48
764    122.0           70.0           70.0   79.799479  36.8             27
765    121.0           72.0           72.0  112.000000  26.2             23
766    126.0           60.0           60.0   79.799479  30.1              0
767     93.0           70.0           70.0   79.799479  30.4             31

[768 rows x 6 columns]

In [29]:
for col in zeros_col:
  df1[col]=df1[col].replace(0,df1[col].mean())

In [30]:
(df1==0).sum()

Pregnancies                 111
Glucose                       0
BloodPressure                 0
SkinThickness                 0
Insulin                       0
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

<h3>Now We Find Outliers <h3>

In [89]:
out_col=df1.iloc[:,0:8]
out_col

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6    148.0           72.0  ...  33.6                     0.627   50
1              1     85.0           66.0  ...  26.6                     0.351   31
2              8    167.0           64.0  ...  23.3                     0.672   32
3              1     89.0           66.0  ...  28.1                     0.167   21
4              0    137.0           52.0  ...  41.5                     0.880   33
..           ...      ...            ...  ...   ...                       ...  ...
763            9    101.0           76.0  ...  32.9                     0.171   51
764            2    122.0           70.0  ...  36.8                     0.340   27
765            5    121.0           72.0  ...  26.2                     0.245   30
766            1    126.0           60.0  ...  30.1                     0.349   47
767            1     93.0           70.0  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [94]:
outliers=pd.DataFrame(columns={'features','NoofOutliers'})
outliers

Empty DataFrame
Columns: [NoofOutliers, features]
Index: []

In [100]:
for col in out_col:
  q1=df1[col].quantile(0.25)
  q2=df1[col].quantile(0.50)
  q3=df1[col].quantile(0.75)
  iqr=q3-q1
  low=q1-iqr * 1.5
  high=q3+iqr*1.5
  outliers=outliers.append({'features':col,'NoofOutliers':df1.loc[(df1[col]>high) | (df1[col]<low)].shape[0]},ignore_index=True)

In [101]:
outliers

   NoofOutliers                  features
0             4               Pregnancies
1             5                   Glucose
2            49             BloodPressure
3           239             SkinThickness
4           463                   Insulin
5            19                       BMI
6            29  DiabetesPedigreeFunction
7             9                       Age
8             0               Pregnancies
9             0                   Glucose
10            0             BloodPressure
11            0             SkinThickness
12           89                   Insulin
13            0                       BMI
14            0  DiabetesPedigreeFunction
15            0                       Age

In [81]:
import numpy as np
from scipy.stats.mstats import winsorize

In [98]:
for col in out_col:
    if col in df1.select_dtypes(include=np.number).columns:
        df1[col]=winsorize(df1[col],limits=[0.05,0.1],inclusive=(True,True))

In [83]:
outliers

  NoofOutliers                  features
0            4               Pregnancies
1            5                   Glucose
2           49             BloodPressure
3          239             SkinThickness
4          463                   Insulin
5           19                       BMI
6           29  DiabetesPedigreeFunction
7            9                       Age

In [102]:
x=df1.iloc[:,0:8]
x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6    148.0           72.0  ...  33.6                     0.627   50
1              1     85.0           66.0  ...  26.6                     0.351   31
2              8    167.0           64.0  ...  23.3                     0.672   32
3              1     89.0           66.0  ...  28.1                     0.167   21
4              0    137.0           52.0  ...  41.5                     0.880   33
..           ...      ...            ...  ...   ...                       ...  ...
763            9    101.0           76.0  ...  32.9                     0.171   51
764            2    122.0           70.0  ...  36.8                     0.340   27
765            5    121.0           72.0  ...  26.2                     0.245   30
766            1    126.0           60.0  ...  30.1                     0.349   47
767            1     93.0           70.0  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [103]:
y=df1.iloc[:,8:9]
y

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [104]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [105]:
xtrain.shape

(614, 8)

In [106]:
ytrain.shape

(614, 1)

In [107]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(fit_intercept=True)

In [108]:
model.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [109]:
ypre=model.predict(xtest)

In [110]:
from sklearn.metrics import confusion_matrix , accuracy_score

In [111]:
mat=confusion_matrix(ytest,ypre)
mat

array([[87, 12],
       [22, 33]])

In [112]:
acc=accuracy_score(ytest,ypre)
acc

0.7792207792207793